In [9]:
import pandas as pd
import os
import warnings
import pymongo
import json
import datetime

pd.options.mode.chained_assignment = None
warnings.filterwarnings('ignore', category=RuntimeWarning)

# ALL YEARS
years = ['2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025']
# ONE YEARS:
# years = ['2007']

for year in years:
    print("YEAR: ", year)
    
    file_path = f"results/inputs_csv_brent/PriceBrent_{year}.csv"
    
    if not os.path.exists(file_path):
        print(f"Le fichier {file_path} n'existe pas.")
    else:
        df = pd.read_csv(file_path)
        df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
        print(df.head(5))
        print(df.dtypes)
        
        # Setup MongoDB connection (local)
        mongo_host = "mongodb://localhost"
        mongo_port = 27017
        client_mongo = pymongo.MongoClient(host=mongo_host, port=mongo_port)
        
        db_mongo = client_mongo.get_database("brent_stock_price")
        collection_mongo = db_mongo.get_collection("brent_stock_price")
        
        records = df.to_dict(orient="records")
        collection_mongo.insert_many(records)
        print("correctly loaded", year, "csv to MongoDB")

YEAR:  2007
        Date  Close   High    Low   Open  Volume
0 2007-07-30  75.74  76.53  75.44  75.85    2575
1 2007-07-31  77.05  77.17  75.67  75.70    3513
2 2007-08-01  75.35  77.06  74.86  77.00    3930
3 2007-08-02  75.76  76.21  74.27  75.22    6180
4 2007-08-03  74.75  76.00  74.53  75.39    4387
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2007 csv to MongoDB
YEAR:  2008
        Date  Close   High    Low   Open  Volume
0 2008-01-02  97.84  98.02  94.20  94.30    1149
1 2008-01-03  97.60  98.47  97.07  97.50    1386
2 2008-01-04  96.79  97.89  96.21  97.74    1240
3 2008-01-07  94.39  97.46  93.73  96.82    1826
4 2008-01-08  95.54  96.67  94.51  95.44    1082
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2008 csv to MongoDB
YEAR:  2009
        Date  Close   High    Low   Open  Volume
0 2009-01-02  46.91  46.91  46.91  46.91      50
1 2009-01-05  49.62  49.98  46.40  46.40     560
2 2009-01-06  50.53  52.13  49.60  51.78     203
3 2009-01-07  45.86  50.55  45.73  50.43     244
4 2009-01-08  44.67  46.34  43.80  45.81     370
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2009 csv to MongoDB
YEAR:  2010
        Date  Close   High    Low   Open  Volume
0 2010-01-04  80.12  79.82  80.12  80.12      97
1 2010-01-05  80.59  80.26  80.59  80.59      97
2 2010-01-06  81.89  81.70  80.13  81.13       7
3 2010-01-07  81.51  81.51  81.63  81.51       7
4 2010-01-08  81.37  81.53  81.09  81.37       7
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2010 csv to MongoDB
YEAR:  2011
        Date  Close   High    Low   Open  Volume
0 2011-01-03  94.84  96.16  94.91  95.45     266
1 2011-01-04  93.53  95.35  92.60  95.22     586
2 2011-01-05  95.50  95.70  92.42  93.43    1265
3 2011-01-06  94.52  96.02  94.03  95.66    1439
4 2011-01-07  93.33  94.57  92.69  94.57     772
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2011 csv to MongoDB
YEAR:  2012
        Date   Close    High     Low    Open  Volume
0 2012-01-03  112.13  112.29  109.95  109.95    1064
1 2012-01-04  113.70  113.82  111.70  111.70    1426
2 2012-01-05  112.74  114.05  112.57  113.95     687
3 2012-01-06  113.06  113.30  112.19  112.91     709
4 2012-01-09  112.45  113.59  112.21  113.43     595
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2012 csv to MongoDB
YEAR:  2013
        Date   Close    High     Low    Open  Volume
0 2013-01-02  112.47  112.90  111.76  111.94    1343
1 2013-01-03  112.14  112.39  111.70  111.92     752
2 2013-01-04  111.31  111.74  110.72  110.72    1279
3 2013-01-07  111.40  111.67  110.58  110.80    1860
4 2013-01-08  111.94  112.44  111.48  112.39    1385
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2013 csv to MongoDB
YEAR:  2014
        Date   Close    High     Low    Open  Volume
0 2014-01-02  107.78  111.32  107.69  110.80    5131
1 2014-01-03  106.89  108.62  106.78  107.92    5641
2 2014-01-06  106.73  107.95  106.58  107.04    7015
3 2014-01-07  107.35  107.71  106.91  107.18    4075
4 2014-01-08  107.15  107.92  107.01  107.45    5124
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2014 csv to MongoDB
YEAR:  2015
        Date  Close   High    Low   Open  Volume
0 2015-01-02  56.42  58.22  55.52  57.63   16707
1 2015-01-05  53.11  56.29  52.67  56.29   30065
2 2015-01-06  51.10  53.52  50.53  53.23   35494
3 2015-01-07  51.15  51.84  49.68  51.06   37082
4 2015-01-08  50.96  51.89  49.82  51.00   29469
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2015 csv to MongoDB
YEAR:  2016
        Date  Close   High    Low   Open  Volume
0 2016-01-04  37.22  38.99  36.78  37.40   41288
1 2016-01-05  36.42  37.57  36.25  37.32   29327
2 2016-01-06  34.23  36.72  34.14  36.72   43019
3 2016-01-07  33.75  34.73  32.18  34.52   44381
4 2016-01-08  33.55  34.73  32.79  33.80   39985
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2016 csv to MongoDB
YEAR:  2017
        Date  Close   High    Low   Open  Volume
0 2017-01-03  55.47  58.37  55.29  57.05   42688
1 2017-01-04  56.46  56.53  55.34  55.69   27804
2 2017-01-05  56.89  57.34  56.01  56.54   32833
3 2017-01-06  57.10  57.46  56.30  56.88   24948
4 2017-01-09  54.94  56.99  54.74  56.86   25860
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2017 csv to MongoDB
YEAR:  2018
        Date  Close   High    Low   Open  Volume
0 2018-01-02  66.57  67.28  66.23  66.42   24294
1 2018-01-03  67.84  68.01  66.40  66.49   25878
2 2018-01-04  68.07  68.26  67.53  68.00   22840
3 2018-01-05  67.62  68.09  67.27  68.06   18290
4 2018-01-08  67.78  67.98  67.45  67.82   17704
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2018 csv to MongoDB
YEAR:  2019
        Date  Close   High    Low   Open  Volume
0 2019-01-02  54.91  56.56  52.50  54.25   43517
1 2019-01-03  55.95  56.29  53.93  54.77   36535
2 2019-01-04  57.06  58.30  55.36  55.58   42426
3 2019-01-07  57.33  58.92  57.28  57.37   41677
4 2019-01-08  58.72  58.86  57.11  57.63   34135
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2019 csv to MongoDB
YEAR:  2020
        Date  Close   High    Low   Open  Volume
0 2020-01-02  66.25  66.57  65.73  66.47   25810
1 2020-01-03  68.60  69.48  66.22  66.29   78848
2 2020-01-06  68.91  70.72  68.19  69.07   51933
3 2020-01-07  68.27  68.74  67.65  68.58   41178
4 2020-01-08  65.44  71.99  64.94  68.47   85232
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2020 csv to MongoDB
YEAR:  2021
        Date  Close   High    Low   Open  Volume
0 2021-01-04  51.09  53.32  50.58  51.66   50232
1 2021-01-05  53.60  53.88  50.62  50.74   62791
2 2021-01-06  54.30  54.72  53.15  53.59   49186
3 2021-01-07  54.38  54.90  53.94  54.14   30800
4 2021-01-08  55.99  56.30  54.36  54.46   37597
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2021 csv to MongoDB
YEAR:  2022
        Date  Close   High    Low   Open  Volume
0 2022-01-03  78.98  79.28  77.04  77.94   27224
1 2022-01-04  80.00  80.55  78.60  78.95   31321
2 2022-01-05  80.80  81.49  79.55  80.08   35152
3 2022-01-06  81.99  82.84  79.63  80.15   41582
4 2022-01-07  81.75  82.99  81.44  82.06   29501
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2022 csv to MongoDB
YEAR:  2023
        Date  Close   High    Low   Open  Volume
0 2023-01-03  82.10  87.02  81.77  86.04   27559
1 2023-01-04  77.84  82.67  77.72  82.23   24772
2 2023-01-05  78.69  79.96  77.61  78.09   28051
3 2023-01-06  78.57  80.57  78.05  78.81   23767
4 2023-01-09  79.65  81.37  78.34  78.48   29985
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2023 csv to MongoDB
YEAR:  2024
        Date  Close   High    Low   Open  Volume
0 2024-01-02  75.89  79.04  75.60  77.21   28591
1 2024-01-03  78.25  78.67  74.79  75.99   32172
2 2024-01-04  77.59  79.40  76.50  78.50   33154
3 2024-01-05  78.76  79.25  77.50  77.60   30994
4 2024-01-08  76.12  78.95  75.26  78.60   32539
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object
correctly loaded 2024 csv to MongoDB
YEAR:  2025
        Date  Close   High    Low   Open  Volume
0 2025-01-02  75.93  76.54  74.73  74.88   41474
1 2025-01-03  76.51  76.74  75.53  75.90   38822
2 2025-01-06  76.30  77.50  75.94  76.59   49229
3 2025-01-07  77.05  77.27  75.92  76.24   37188
4 2025-01-08  76.16  77.89  76.03  77.24   46650
Date      datetime64[ns]
Close            float64
High             float64
Low              float64
Open             float64
Volume             int64
dtype: object

correctly loaded 2025 csv to MongoDB